
Homework_01/Debug/

Homework_01/settings/

Homework_01/Homework 01 simple.dep

Project 2/Debug/

Project 2/settings/

Project 2/Project2.dep

Homework_03/Debug/

Homework_03/settings/

Homework_03/Homework_03.dep
Project 4/path.txt
Project 4/Project 4.dep
Project 4/settings/Project 4.dbgdt
Project 4/settings/Project 4.Debug.cspy.bat
Project 4/settings/Project 4.Debug.cspy.ps1
Project 4/settings/Project 4.Debug.driver.xcl
Project 4/settings/Project 4.Debug.general.xcl
Project 4/settings/Project 4.dnx
Project 4/settings/Project 4.wsdt
Project 4/Debug/Obj/timers.xcl
Project 4/Debug/Obj/timers.r43
Project 4/Debug/Obj/timers.pbi.dep
Project 4/Debug/Obj/timers.pbi
Project 4/Debug/Obj/system.xcl
Project 4/Debug/Obj/system.r43
Project 4/Debug/Obj/system.pbi.dep
Project 4/Debug/Obj/system.pbi
Project 4/Debug/Obj/switch.xcl
Project 4/Debug/Obj/switch.r43
Project 4/Debug/Obj/switch.pbi.dep
Project 4/Debug/Obj/switch.pbi
Project 4/Debug/Obj/Project 4_part2.pbi
Project 4/Debug/Obj/Project 4_part1.pbi
Project 4/Debug/Obj/Project 4_part0.pbi
Project 4/Debug/Obj/Project 4.pbw
Project 4/Debug/Obj/Project 4.pbd.browse
Project 4/Debug/Obj/Project 4.pbd
Project 4/Debug/Obj/Project 3_part2.pbi
Project 4/Debug/Obj/Project 3_part1.pbi
Project 4/Debug/Obj/Project 3_part0.pbi
Project 4/Debug/Obj/Project 3.pbw
Project 4/Debug/Obj/Project 3.pbd.browse
Project 4/Debug/Obj/Project 3.pbd
Project 4/Debug/Obj/ports.xcl
Project 4/Debug/Obj/ports.r43
Project 4/Debug/Obj/ports.pbi.dep
Project 4/Debug/Obj/ports.pbi
Project 4/Debug/Obj/main.xcl
Project 4/Debug/Obj/main.r43
Project 4/Debug/Obj/main.pbi.dep
Project 4/Debug/Obj/main.pbi
Project 4/Debug/Obj/led.xcl
Project 4/Debug/Obj/led.r43
Project 4/Debug/Obj/led.pbi.dep
Project 4/Debug/Obj/led.pbi
Project 4/Debug/Obj/init.xcl
Project 4/Debug/Obj/init.r43
Project 4/Debug/Obj/init.pbi.dep
Project 4/Debug/Obj/init.pbi
Project 4/Debug/Obj/Homework_03_part2.pbi
Project 4/Debug/Obj/Homework_03_part1.pbi
Project 4/Debug/Obj/Homework_03_part0.pbi
Project 4/Debug/Obj/Homework_03.pbw
Project 4/Debug/Obj/Homework_03.pbd.browse
Project 4/Debug/Obj/Homework_03.pbd
Project 4/Debug/Obj/drive.xcl
Project 4/Debug/Obj/drive.r43
Project 4/Debug/Obj/drive.pbi.dep
Project 4/Debug/Obj/drive.pbi
Project 4/Debug/Obj/clocks.xcl
Project 4/Debug/Obj/clocks.r43
Project 4/Debug/Obj/clocks.pbi.dep
Project 4/Debug/Obj/clocks.pbi
Project 4/Debug/Obj/build.ninja
Project 4/Debug/Obj/.ninja_log
Project 4/Debug/Obj/.ninja_deps
Project 4/Debug/List/timers.lst
Project 4/Debug/List/system.lst
Project 4/Debug/List/switch.lst
Project 4/Debug/List/Project 4.map
Project 4/Debug/List/Project 3.map
Project 4/Debug/List/ports.lst
Project 4/Debug/List/main.lst
Project 4/Debug/List/led.lst
Project 4/Debug/List/init.lst
Project 4/Debug/List/Homework_03.map
Project 4/Debug/List/drive.lst
Project 4/Debug/List/clocks.lst
Project 4/Debug/Exe/Project 4.d43
Project 4/Debug/Exe/Project 3.d43
Project 4/Debug/Exe/Homework_03.d43
Project 4/Compiled/timersB0.r43
Project 4/Compiled/LCD.r43
Project 3/settings/Project 3.dbgdt
Project 3/settings/Project 3.Debug.cspy.bat
Project 3/settings/Project 3.Debug.cspy.ps1
Project 3/settings/Project 3.Debug.driver.xcl
Project 3/settings/Project 3.Debug.general.xcl
Project 3/settings/Project 3.dnx
Project 3/settings/Project 3.wsdt
Project 3/Compiled/LCD.r43
Project 3/Compiled/switches.r43
Project 3/Compiled/timersB0.r43
Project 3/Debug/Exe/Homework_03.d43
Project 3/Debug/Exe/Project 3.d43
Project 3/Debug/List/clocks.lst
Project 3/Debug/List/drive.lst
Project 3/Debug/List/Homework_03.map
Project 3/Debug/List/init.lst
Project 3/Debug/List/led.lst
Project 3/Debug/List/main.lst
Project 3/Debug/List/ports.lst
Project 3/Debug/List/Project 3.map
Project 3/Debug/List/system.lst
Project 3/Debug/Obj/.ninja_deps
Project 3/Debug/Obj/.ninja_log
Project 3/Debug/Obj/build.ninja
Project 3/Debug/Obj/clocks.pbi
Project 3/Debug/Obj/clocks.pbi.dep
Project 3/Debug/Obj/clocks.r43
Project 3/Debug/Obj/clocks.xcl
Project 3/Debug/Obj/drive.pbi
Project 3/Debug/Obj/drive.pbi.dep
Project 3/Debug/Obj/drive.r43
Project 3/Debug/Obj/drive.xcl
Project 3/Debug/Obj/Homework_03.pbd
Project 3/Debug/Obj/Homework_03.pbd.browse
Project 3/Debug/Obj/Homework_03.pbw
Project 3/Debug/Obj/Homework_03_part0.pbi
Project 3/Debug/Obj/Homework_03_part1.pbi
Project 3/Debug/Obj/Homework_03_part2.pbi
Project 3/Debug/Obj/init.pbi
Project 3/Debug/Obj/init.pbi.dep
Project 3/Debug/Obj/init.r43
Project 3/Debug/Obj/init.xcl
Project 3/Debug/Obj/led.pbi
Project 3/Debug/Obj/led.pbi.dep
Project 3/Debug/Obj/led.r43
Project 3/Debug/Obj/led.xcl
Project 3/Debug/Obj/main.pbi
Project 3/Debug/Obj/main.pbi.dep
Project 3/Debug/Obj/main.r43
Project 3/Debug/Obj/main.xcl
Project 3/Debug/Obj/ports.pbi
Project 3/Debug/Obj/ports.pbi.dep
Project 3/Debug/Obj/ports.r43
Project 3/Debug/Obj/ports.xcl
Project 3/Debug/Obj/Project 3.pbd
Project 3/Debug/Obj/Project 3.pbd.browse
Project 3/Debug/Obj/Project 3.pbw
Project 3/Debug/Obj/Project 3_part0.pbi
Project 3/Debug/Obj/Project 3_part1.pbi
Project 3/Debug/Obj/Project 3_part2.pbi
Project 3/Debug/Obj/system.pbi
Project 3/Debug/Obj/system.pbi.dep
Project 3/Debug/Obj/system.r43
Project 3/Debug/Obj/system.xcl
Homework_05/clocks.c
Homework_05/Compiled/LCD.r43
Homework_05/Compiled/timersB0.r43
Homework_05/Debug/Exe/Homework_03.d43
Homework_05/Debug/Exe/Homework_05.d43
Homework_05/Debug/List/clocks.lst
Homework_05/Debug/List/display.lst
Homework_05/Debug/List/Homework_03.map
Homework_05/Debug/List/Homework_05.map
Homework_05/Debug/List/init.lst
Homework_05/Debug/List/led.lst
Homework_05/Debug/List/main.lst
Homework_05/Debug/List/ports.lst
Homework_05/Debug/List/switch.lst
Homework_05/Debug/List/system.lst
Homework_05/Debug/List/timers.lst
Homework_05/Debug/Obj/.ninja_deps
Homework_05/Debug/Obj/.ninja_log
Homework_05/Debug/Obj/build.ninja
Homework_05/Debug/Obj/clocks.pbi
Homework_05/Debug/Obj/clocks.pbi.dep
Homework_05/Debug/Obj/clocks.r43
Homework_05/Debug/Obj/clocks.xcl
Homework_05/Debug/Obj/display.pbi
Homework_05/Debug/Obj/display.pbi.dep
Homework_05/Debug/Obj/display.r43
Homework_05/Debug/Obj/display.xcl
Homework_05/Debug/Obj/Homework_03.pbd
Homework_05/Debug/Obj/Homework_03.pbd.browse
Homework_05/Debug/Obj/Homework_03.pbw
Homework_05/Debug/Obj/Homework_03_part0.pbi
Homework_05/Debug/Obj/Homework_03_part1.pbi
Homework_05/Debug/Obj/Homework_03_part2.pbi
Homework_05/Debug/Obj/Homework_05.pbd
Homework_05/Debug/Obj/Homework_05.pbd.browse
Homework_05/Debug/Obj/Homework_05.pbw
Homework_05/Debug/Obj/Homework_05_part0.pbi
Homework_05/Debug/Obj/Homework_05_part1.pbi
Homework_05/Debug/Obj/Homework_05_part2.pbi
Homework_05/Debug/Obj/init.pbi
Homework_05/Debug/Obj/init.pbi.dep
Homework_05/Debug/Obj/init.r43
Homework_05/Debug/Obj/init.xcl
Homework_05/Debug/Obj/led.pbi
Homework_05/Debug/Obj/led.pbi.dep
Homework_05/Debug/Obj/led.r43
Homework_05/Debug/Obj/led.xcl
Homework_05/Debug/Obj/main.pbi
Homework_05/Debug/Obj/main.pbi.dep
Homework_05/Debug/Obj/main.r43
Homework_05/Debug/Obj/main.xcl
Homework_05/Debug/Obj/ports.pbi
Homework_05/Debug/Obj/ports.pbi.dep
Homework_05/Debug/Obj/ports.r43
Homework_05/Debug/Obj/ports.xcl
Homework_05/Debug/Obj/switch.pbi
Homework_05/Debug/Obj/switch.pbi.dep
Homework_05/Debug/Obj/switch.r43
Homework_05/Debug/Obj/switch.xcl
Homework_05/Debug/Obj/system.pbi
Homework_05/Debug/Obj/system.pbi.dep
Homework_05/Debug/Obj/system.r43
Homework_05/Debug/Obj/system.xcl
Homework_05/Debug/Obj/timers.pbi
Homework_05/Debug/Obj/timers.pbi.dep
Homework_05/Debug/Obj/timers.r43
Homework_05/Debug/Obj/timers.xcl
Homework_05/settings/Homework_05.dbgdt
Homework_05/settings/Homework_05.Debug.cspy.bat
Homework_05/settings/Homework_05.Debug.cspy.ps1
Homework_05/settings/Homework_05.Debug.driver.xcl
Homework_05/settings/Homework_05.Debug.general.xcl
Homework_05/settings/Homework_05.dnx
Homework_05/settings/Homework_05.wsdt
Homework_05/Homework_05.ewp
Homework_05/Homework_05.dep
Project 5/Compiled/LCD.r43
Project 5/Compiled/timersB0.r43
Project 5/Debug/Exe/Project 5.d43
Project 5/Debug/List/clocks.lst
Project 5/Debug/List/display.lst
Project 5/Debug/List/drive.lst
Project 5/Debug/List/init.lst
Project 5/Debug/List/led.lst
Project 5/Debug/List/main.lst
Project 5/Debug/List/ports.lst
Project 5/Debug/List/Project 5.map
Project 5/Debug/List/switch.lst
Project 5/Debug/List/system.lst
Project 5/Debug/List/timers.lst
Project 5/Debug/Obj/.ninja_deps
Project 5/Debug/Obj/.ninja_log
Project 5/Debug/Obj/build.ninja
Project 5/Debug/Obj/clocks.pbi
Project 5/Debug/Obj/clocks.pbi.dep
Project 5/Debug/Obj/clocks.r43
Project 5/Debug/Obj/clocks.xcl
Project 5/Debug/Obj/display.pbi
Project 5/Debug/Obj/display.pbi.dep
Project 5/Debug/Obj/display.r43
Project 5/Debug/Obj/display.xcl
Project 5/Debug/Obj/drive.pbi
Project 5/Debug/Obj/drive.pbi.dep
Project 5/Debug/Obj/drive.r43
Project 5/Debug/Obj/drive.xcl
Project 5/Debug/Obj/init.pbi
Project 5/Debug/Obj/init.pbi.dep
Project 5/Debug/Obj/init.r43
Project 5/Debug/Obj/init.xcl
Project 5/Debug/Obj/led.pbi
Project 5/Debug/Obj/led.pbi.dep
Project 5/Debug/Obj/led.r43
Project 5/Debug/Obj/led.xcl
Project 5/Debug/Obj/main.pbi
Project 5/Debug/Obj/main.pbi.dep
Project 5/Debug/Obj/main.r43
Project 5/Debug/Obj/main.xcl
Project 5/Debug/Obj/ports.pbi
Project 5/Debug/Obj/ports.pbi.dep
Project 5/Debug/Obj/ports.r43
Project 5/Debug/Obj/ports.xcl
Project 5/Debug/Obj/Project 5.pbd
Project 5/Debug/Obj/Project 5.pbd.browse
Project 5/Debug/Obj/Project 5.pbw
Project 5/Debug/Obj/Project 5_part0.pbi
Project 5/Debug/Obj/Project 5_part1.pbi
Project 5/Debug/Obj/Project 5_part2.pbi
Project 5/Debug/Obj/Project 5_part3.pbi
Project 5/Debug/Obj/switch.pbi
Project 5/Debug/Obj/switch.pbi.dep
Project 5/Debug/Obj/switch.r43
Project 5/Debug/Obj/switch.xcl
Project 5/Debug/Obj/system.pbi
Project 5/Debug/Obj/system.pbi.dep
Project 5/Debug/Obj/system.r43
Project 5/Debug/Obj/system.xcl
Project 5/Debug/Obj/timers.pbi
Project 5/Debug/Obj/timers.pbi.dep
Project 5/Debug/Obj/timers.r43
Project 5/Debug/Obj/timers.xcl
Project 5/Project 5.dep
Project 5/Project 5.ewd
Project 5/Project 5.ewt
Project 5/settings/Project 5.dbgdt
Project 5/settings/Project 5.Debug.cspy.bat
Project 5/settings/Project 5.Debug.cspy.ps1
Project 5/settings/Project 5.Debug.driver.xcl
Project 5/settings/Project 5.Debug.general.xcl
Project 5/settings/Project 5.dnx
Project 5/settings/Project 5.wsdt
Project 5/Debug/List/switch_int.lst
Project 5/Debug/Obj/switch_int.pbi
Project 5/Debug/Obj/switch_int.pbi.dep
Project 5/Debug/Obj/switch_int.r43
Homework_06/settings/Homework_06.dnx
Homework_06/settings/Homework_06.Debug.general.xcl
Homework_06/settings/Homework_06.Debug.driver.xcl
Homework_06/settings/Homework_06.Debug.cspy.ps1
Homework_06/settings/Homework_06.Debug.cspy.bat
Homework_06/Debug/Obj/timers.xcl
Homework_06/Debug/Obj/timers.pbi.dep
Homework_06/Debug/Obj/timers.pbi
Homework_06/Debug/Obj/system.xcl
Homework_06/Debug/Obj/system.pbi.dep
Homework_06/Debug/Obj/system.pbi
Homework_06/Debug/Obj/switch.xcl
Homework_06/Debug/Obj/switch.pbi.dep
Homework_06/Debug/Obj/switch.pbi
Homework_06/Debug/Obj/ports.xcl
Homework_06/Debug/Obj/ports.pbi.dep
Homework_06/Debug/Obj/ports.pbi
Homework_06/Debug/Obj/main.xcl
Homework_06/Debug/Obj/main.pbi.dep
Homework_06/Debug/Obj/main.pbi
Homework_06/Debug/Obj/led.xcl
Homework_06/Debug/Obj/led.pbi.dep
Homework_06/Debug/Obj/led.pbi
Homework_06/Debug/Obj/init.xcl
Homework_06/Debug/Obj/init.pbi.dep
Homework_06/Debug/Obj/init.pbi
Homework_06/Debug/Obj/Homework_06_part3.pbi
Homework_06/Debug/Obj/Homework_06_part2.pbi
Homework_06/Debug/Obj/Homework_06_part1.pbi
Homework_06/Debug/Obj/Homework_06_part0.pbi
Homework_06/Debug/Obj/Homework_06.pbw
Homework_06/Debug/Obj/Homework_06.pbd.browse
Homework_06/Debug/Obj/Homework_06.pbd
Homework_06/Debug/Obj/drive.xcl
Homework_06/Debug/Obj/drive.pbi.dep
Homework_06/Debug/Obj/drive.pbi
Homework_06/Debug/Obj/display.xcl
Homework_06/Debug/Obj/display.pbi.dep
Homework_06/Debug/Obj/display.pbi
Homework_06/Debug/Obj/clocks.xcl
Homework_06/Debug/Obj/clocks.pbi.dep
Homework_06/Debug/Obj/clocks.pbi
Homework_06/Debug/Obj/build.ninja
Homework_06/Debug/Obj/.ninja_log
Homework_06/Debug/Obj/.ninja_deps
Homework_06/Compiled/timersB0.r43
Homework_06/Compiled/LCD.r43
Homework_06/Debug/Obj/timers.r43
Homework_06/Debug/Obj/system.r43
Homework_06/Debug/Obj/switch.r43
Homework_06/Debug/Obj/ports.r43
Homework_06/Debug/Obj/main.r43
Homework_06/Debug/Obj/led.r43
Homework_06/Debug/Obj/init.r43
Homework_06/Debug/Obj/drive.r43
Homework_06/Debug/Obj/display.r43
Homework_06/Debug/Obj/clocks.r43
Homework_06/Debug/List/timers.lst
Homework_06/Debug/List/system.lst
Homework_06/Debug/List/switch.lst
Homework_06/Debug/List/ports.lst
Homework_06/Debug/List/main.lst
Homework_06/Debug/List/led.lst
Homework_06/Debug/List/init.lst
Homework_06/Debug/List/Homework_06.map
Homework_06/Debug/List/drive.lst
Homework_06/Debug/List/display.lst
Homework_06/Debug/List/clocks.lst
Homework_06/Debug/Exe/Homework_06.d43
Homework_06/Homework_06.dep
Homework_06/settings/Homework_06.dbgdt
Homework_06/settings/Homework_06.wsdt
.DS_Store
Project 6/.DS_Store
Project 6/Compiled/LCD.r43
Project 6/Debug/Exe/Homework_06.d43
Project 6/Debug/List/clocks.lst
Project 6/Debug/List/display.lst
Project 6/Debug/List/drive.lst
Project 6/Debug/List/Homework_06.map
Project 6/Debug/List/init.lst
Project 6/Debug/List/led.lst
Project 6/Debug/List/main.lst
Project 6/Debug/List/ports.lst
Project 6/Debug/List/switch.lst
Project 6/Debug/List/system.lst
Project 6/Debug/List/timers.lst
Project 6/Debug/Obj/.ninja_deps
Project 6/Debug/Obj/.ninja_log
Project 6/Debug/Obj/build.ninja
Project 6/Debug/Obj/clocks.pbi
Project 6/Debug/Obj/clocks.pbi.dep
Project 6/Debug/Obj/clocks.r43
Project 6/Debug/Obj/clocks.xcl
Project 6/Debug/Obj/display.pbi
Project 6/Debug/Obj/display.pbi.dep
Project 6/Debug/Obj/display.r43
Project 6/Debug/Obj/display.xcl
Project 6/Debug/Obj/drive.pbi
Project 6/Debug/Obj/drive.pbi.dep
Project 6/Debug/Obj/drive.r43
Project 6/Debug/Obj/drive.xcl
Project 6/Debug/Obj/Homework_06.pbd
Project 6/Debug/Obj/Homework_06.pbd.browse
Project 6/Debug/Obj/Homework_06.pbw
Project 6/Debug/Obj/Homework_06_part0.pbi
Project 6/Debug/Obj/Homework_06_part1.pbi
Project 6/Debug/Obj/Homework_06_part2.pbi
Project 6/Debug/Obj/Homework_06_part3.pbi
Project 6/Debug/Obj/init.pbi
Project 6/Debug/Obj/init.pbi.dep
Project 6/Debug/Obj/init.r43
Project 6/Debug/Obj/init.xcl
Project 6/Debug/Obj/led.pbi
Project 6/Debug/Obj/led.pbi.dep
Project 6/Debug/Obj/led.r43
Project 6/Debug/Obj/led.xcl
Project 6/Debug/Obj/main.pbi
Project 6/Debug/Obj/main.pbi.dep
Project 6/Debug/Obj/main.r43
Project 6/Debug/Obj/main.xcl
Project 6/Debug/Obj/ports.pbi
Project 6/Debug/Obj/ports.pbi.dep
Project 6/Debug/Obj/ports.r43
Project 6/Debug/Obj/ports.xcl
Project 6/Debug/Obj/switch.pbi
Project 6/Debug/Obj/switch.pbi.dep
Project 6/Debug/Obj/switch.r43
Project 6/Debug/Obj/switch.xcl
Project 6/Debug/Obj/system.pbi
Project 6/Debug/Obj/system.pbi.dep
Project 6/Debug/Obj/system.r43
Project 6/Debug/Obj/system.xcl
Project 6/Debug/Obj/timers.pbi
Project 6/Debug/Obj/timers.pbi.dep
Project 6/Debug/Obj/timers.r43
Project 6/Debug/Obj/timers.xcl
Homework_06 copy/Project 6.ewp
Homework_06 copy/Project 6.eww
Project 6/Debug/Obj/Project 6.pbd
Project 6/Debug/Obj/Project 6.pbd.browse
Project 6/Debug/Obj/Project 6.pbw
Project 6/Debug/Obj/Project 6_part0.pbi
Project 6/Debug/Obj/Project 6_part1.pbi
Project 6/Debug/Obj/Project 6_part2.pbi
Project 6/Debug/Obj/Project 6_part3.pbi
Project 6/Project 6.dep
Project 6/settings/Project 6.Debug.cspy.bat
Project 6/settings/Project 6.Debug.cspy.ps1
Project 6/settings/Project 6.Debug.driver.xcl
Project 6/settings/Project 6.Debug.general.xcl
Project 6/settings/Project 6.dnx
Project 6/settings/Project 6.wsdt
Homework_06 copy/Project 6.ewp
Homework_06 copy/Project 6.eww
Project 6/Debug/Obj/errors.xcl
Project 6/Debug/Obj/errors.r43
Project 6/Debug/Obj/errors.pbi.dep
Project 6/Debug/Obj/errors.pbi
Project 6/Debug/Obj/adc.xcl
Project 6/Debug/Obj/adc.r43
Project 6/Debug/Obj/adc.pbi.dep
Project 6/Debug/Obj/adc.pbi
Project 6/Debug/List/Project 6.map
Project 6/Debug/List/errors.lst
Project 6/Debug/List/adc.lst
Project 6/Debug/Exe/Project 6.d43
Project 6/Compiled/timersB0.r43
Project 6/Debug/List/menu.lst
Project 6/Debug/Obj/menu.pbi
Project 6/Debug/Obj/menu.pbi.dep
Project 6/Debug/Obj/menu.r43
Project 6/Debug/Obj/menu.xcl
Project 7/Compiled/timersB0.r43
Project 7/Compiled/LCD.r43
Project 6/settings/Project 6.dbgdt
Project 7.zip
Project 6/settings/Project 6.dbgdt
Project 6/settings/Project 6.dbgdt
Project 6/Project 6.ewt
Project 6/Project 6.ewp
Project 7/settings/Project 7.wsdt
Project 7/settings/Project 7.dnx
Project 7/settings/Project 7.Debug.general.xcl
Project 7/settings/Project 7.Debug.driver.xcl
Project 7/settings/Project 7.Debug.cspy.ps1
Project 7/settings/Project 7.Debug.cspy.bat
Project 7/settings/Project 7.dbgdt
Project 7/Debug/Obj/timers.xcl
Project 7/Debug/Obj/timers.r43
Project 7/Debug/Obj/timers.pbi.dep
Project 7/Debug/Obj/timers.pbi
Project 7/Debug/Obj/system.xcl
Project 7/Debug/Obj/system.r43
Project 7/Debug/Obj/system.pbi.dep
Project 7/Debug/Obj/system.pbi
Project 7/Debug/Obj/switch.xcl
Project 7/Debug/Obj/switch.r43
Project 7/Debug/Obj/switch.pbi.dep
Project 7/Debug/Obj/switch.pbi
Project 7/Debug/Obj/Project 7_part3.pbi
Project 7/Debug/Obj/Project 7_part2.pbi
Project 7/Debug/Obj/Project 7_part1.pbi
Project 7/Debug/Obj/Project 7_part0.pbi
Project 7/Debug/Obj/Project 7.pbw
Project 7/Debug/Obj/Project 7.pbd.browse
Project 7/Debug/Obj/Project 7.pbd
Project 7/Debug/Obj/ports.xcl
Project 7/Debug/Obj/ports.r43
Project 7/Debug/Obj/ports.pbi.dep
Project 7/Debug/Obj/ports.pbi
Project 7/Debug/Obj/navigation.xcl
Project 7/Debug/Obj/navigation.r43
Project 7/Debug/Obj/navigation.pbi.dep
Project 7/Debug/Obj/navigation.pbi
Project 7/Debug/Obj/menu.xcl
Project 7/Debug/Obj/menu.r43
Project 7/Debug/Obj/menu.pbi.dep
Project 7/Debug/Obj/menu.pbi
Project 7/Debug/Obj/main.xcl
Project 7/Debug/Obj/main.r43
Project 7/Debug/Obj/main.pbi.dep
Project 7/Debug/Obj/main.pbi
Project 7/Debug/Obj/led.xcl
Project 7/Debug/Obj/led.r43
Project 7/Debug/Obj/led.pbi.dep
Project 7/Debug/Obj/led.pbi
Project 7/Debug/Obj/init.xcl
Project 7/Debug/Obj/init.r43
Project 7/Debug/Obj/init.pbi.dep
Project 7/Debug/Obj/init.pbi
Project 7/Debug/Obj/errors.xcl
Project 7/Debug/Obj/errors.r43
Project 7/Debug/Obj/errors.pbi.dep
Project 7/Debug/Obj/errors.pbi
Project 7/Debug/Obj/drive.xcl
Project 7/Debug/Obj/drive.r43
Project 7/Debug/Obj/drive.pbi.dep
Project 7/Debug/Obj/drive.pbi
Project 7/Debug/Obj/display.xcl
Project 7/Debug/Obj/display.r43
Project 7/Debug/Obj/display.pbi.dep
Project 7/Debug/Obj/display.pbi
Project 7/Debug/Obj/dac.xcl
Project 7/Debug/Obj/dac.r43
Project 7/Debug/Obj/dac.pbi.dep
Project 7/Debug/Obj/dac.pbi
Project 7/Debug/Obj/clocks.xcl
Project 7/Debug/Obj/clocks.r43
Project 7/Debug/Obj/clocks.pbi.dep
Project 7/Debug/Obj/clocks.pbi
Project 7/Debug/Obj/build.ninja
Project 7/Debug/Obj/adc.xcl
Project 7/Debug/Obj/adc.r43
Project 7/Debug/Obj/adc.pbi.dep
Project 7/Debug/Obj/adc.pbi
Project 7/Debug/Obj/.ninja_log
Project 7/Debug/Obj/.ninja_deps
Project 7/Debug/List/timers.lst
Project 7/Debug/List/system.lst
Project 7/Debug/List/switch.lst
Project 7/Debug/List/Project 7.map
Project 7/Debug/List/ports.lst
Project 7/Debug/List/navigation.lst
Project 7/Debug/List/menu.lst
Project 7/Debug/List/main.lst
Project 7/Debug/List/led.lst
Project 7/Debug/List/init.lst
Project 7/Debug/List/errors.lst
Project 7/Debug/List/drive.lst
Project 7/Debug/List/display.lst
Project 7/Debug/List/dac.lst
Project 7/Debug/List/clocks.lst
Project 7/Debug/List/adc.lst
Project 7/Debug/Exe/Project 7.d43
Project 6/settings/Project 6.dbgdt
*.dbgdt
*.r43
Homework_08/Debug/List/errors.lst
Homework_08/Debug/Obj/.ninja_deps
Homework_08/Debug/Obj/.ninja_log
Homework_08/Debug/Obj/adc.pbi
Homework_08/Debug/Obj/adc.pbi.dep
Homework_08/Debug/Obj/adc.xcl
Homework_08/Debug/Obj/build.ninja
Homework_08/Debug/Obj/clocks.pbi
Homework_08/Debug/Obj/clocks.pbi.dep
Homework_08/Debug/Obj/clocks.xcl
Homework_08/Debug/Obj/dac.pbi
Homework_08/Debug/Obj/dac.pbi.dep
Homework_08/Debug/Obj/dac.xcl
Homework_08/Debug/Obj/display.pbi
Homework_08/Debug/Obj/display.pbi.dep
Homework_08/Debug/Obj/display.xcl
Homework_08/Debug/Obj/drive.pbi
Homework_08/Debug/Obj/drive.pbi.dep
Homework_08/Debug/Obj/drive.xcl
Homework_08/Debug/Obj/errors.pbi
Homework_08/Debug/Obj/errors.pbi.dep
Homework_08/Debug/Obj/errors.xcl
Homework_08/Debug/Obj/Homework_08.pbd
Homework_08/Debug/Obj/Homework_08.pbd.browse
Homework_08/Debug/Obj/Homework_08.pbw
Homework_08/Debug/Obj/Homework_08_part0.pbi
Homework_08/Debug/Obj/Homework_08_part1.pbi
Homework_08/Debug/Obj/Homework_08_part2.pbi
Homework_08/Debug/Obj/Homework_08_part3.pbi
Homework_08/Debug/Obj/init.pbi
Homework_08/Debug/Obj/init.pbi.dep
Homework_08/Debug/Obj/init.xcl
Homework_08/Debug/Obj/main.pbi
Homework_08/Debug/Obj/main.pbi.dep
Homework_08/Debug/Obj/main.xcl
Homework_08/Debug/Obj/menu.pbi
Homework_08/Debug/Obj/menu.pbi.dep
Homework_08/Debug/Obj/menu.xcl
Homework_08/Debug/Obj/navigation.pbi
Homework_08/Debug/Obj/navigation.pbi.dep
Homework_08/Debug/Obj/navigation.xcl
Homework_08/Debug/Obj/ports.pbi
Homework_08/Debug/Obj/ports.pbi.dep
Homework_08/Debug/Obj/ports.xcl
Homework_08/Debug/Obj/serial.pbi
Homework_08/Debug/Obj/serial.pbi.dep
Homework_08/Debug/Obj/serial.xcl
Homework_08/Debug/Obj/switch.pbi
Homework_08/Debug/Obj/switch.pbi.dep
Homework_08/Debug/Obj/switch.xcl
Homework_08/Debug/Obj/system.pbi
Homework_08/Debug/Obj/system.pbi.dep
Homework_08/Debug/Obj/system.xcl
Homework_08/Debug/Obj/timers.pbi
Homework_08/Debug/Obj/timers.pbi.dep
Homework_08/Debug/Obj/timers.xcl
Homework_08/Homework_08.dep
Homework_08/Homework_08.ewd
Homework_08/Homework_08.ewp
Homework_08/Homework_08.ewt
Homework_08/Homework_08.eww
Homework_08/settings/Homework_08.Debug.general.xcl
Homework_08/settings/Homework_08.Debug.driver.xcl
Homework_08/settings/Homework_08.Debug.cspy.ps1
Homework_08/settings/Homework_08.Debug.cspy.bat
Homework_08/settings/Homework_08.dnx
Homework_08/settings/Homework_08.wsdt
Homework_08/Debug/Exe/Homework_08.d43
Homework_08/Debug/List/adc.lst
Homework_08/Debug/List/clocks.lst
Homework_08/Debug/List/dac.lst
Homework_08/Debug/List/display.lst
Homework_08/Debug/List/drive.lst
Homework_08/Debug/List/Homework_08.map
Homework_08/Debug/List/init.lst
Homework_08/Debug/List/main.lst
Homework_08/Debug/List/menu.lst
Homework_08/Debug/List/navigation.lst
Homework_08/Debug/List/ports.lst
Homework_08/Debug/List/serial.lst
Homework_08/Debug/List/switch.lst
Homework_08/Debug/List/system.lst
Homework_08/Debug/List/timers.lst
